.cache
venv
.idea
.snakemake
__pycache__

RunParameters.xml
# Large files and references
VEP/homo_sapiens_refseq
VEP/homo_sapiens_refseq_vep_99_GRCh37.tar.gz
AWS/GRCh37
SOBDetector_v1.0.1.jar
fastq_temp/*
hg19/*

# Ignore singularity cache directory
singularity_cache/*
!singularity_cache/README.md

# Ignore contents of temp directory
temp

# Ignore run-created files
DATA/gene_depth_PVAL-*-ready.txt
